<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning"
    package="io.cytodev.freqcalc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_whitesmoke"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/action_settings" />

        <activity
            android:name=".activities.CytoActivity"
            android:theme="@style/Theme.Cytodev" />

        <activity
            android:name=".activities.TranslationsActivity"
            android:label="@string/pref_about_translations"/>

        <activity-alias
            android:icon="@mipmap/ic_launcher_whitesmoke"
            android:name=".activities.MainActivity.WhiteSmoke"
            android:enabled="true"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/ic_launcher_dodgerblue"
            android:name=".activities.MainActivity.DodgerBlue"
            android:enabled="false"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/ic_launcher_springbud"
            android:name=".activities.MainActivity.SpringBud"
            android:enabled="false"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/ic_launcher_electricpurple"
            android:name=".activities.MainActivity.ElectricPurple"
            android:enabled="false"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/ic_launcher_orangepeel"
            android:name=".activities.MainActivity.OrangePeel"
            android:enabled="false"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/ic_launcher_hollywoodcerice"
            android:name=".activities.MainActivity.HollywoodCerise"
            android:enabled="false"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:icon="@mipmap/ic_launcher_springgreen"
            android:name=".activities.MainActivity.SpringGreen"
            android:enabled="false"
            android:targetActivity=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f5a80751c0b4b7baf3ee5a046ababe818a60d5e4" />

    </application>

</manifest>
